<div class="col-md-4" data-user-id="<%= @user.id %>" id="event_calendar_small"></div>
<h1>Name: <%= @user.name %></h1>
<p>Email: <%= @user.email %>
<p>Tag name: <% @user.tags.each do |tag| %>
  <%= tag.name %> 
<% end %>
<p>Thumb-Photo: <img src="<%= @user.avatar.url(:thumb) %>" />
<p>Photo: <img src='<%= @user.avatar.url %>' />
<div id="event_modal" class="modal hide fade" tabindex="-1" data-width="400" data-height="350" style="height:300px;">
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn">Close</button>
  </div>
</div>
