<p id="notice"><%= notice %></p>

<p>
  <strong>Tag name:</strong>
  <%= @tag.name %>
</p>
<div class="row">
  <% @tag.users.each do |user| %>
    <div class="col-md-3">
      <%= image_tag user.avatar.url(:thumb), class: 'img-thumbnail' %>
      <%= user.name %>
    </div>
  <% end %>
</div>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
