<!DOCTYPE html>
<html>
  <head>
    <title>CrumNewchat</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <script src="<%= ENV['CHAT_SERVER'] %>/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect('<%= ENV['CHAT_SERVER'] %>');
    </script>
  </head>

  <body>
  <div class='row'>
    <div class="ui header left floated white-text">
      <div class='col-md-4'>
        <div class='logo'><%= link_to 'Crum', root_path %></div>
      </div>
      <div class="col-md-8 pull-right">
        <ul class='nav navbar-nav'>
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "My Time table", time_tables_path %></li>
          <li><%= link_to "Conversations", conversations_path %></li>
          <li><%= link_to "Show Bookmarks", bookmarks_path %></li>
          <li><%= link_to "Tags", tags_path %></li>
        </ul>
        <span><%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'logout' %></span>
      </div>
    </div>
    <%= yield %>
  </div>
  <% if user_signed_in? %>
    <script>
      <% if controller_name == 'conversations' and action_name == 'show' %>
        var d = $('#conversation_<%= @conversation.id %>')
        d.scrollTop(d.prop("scrollHeight"));
      <% end %>
      socket.on('connect', function() {
         // Connected, let's sign-up for to receive messages for this room
         console.log('connect')
         <% current_user.conversations.each do |conversation| %>
          socket.emit('room', <%= conversation.id %>);
         <% end %>
      });
      socket.on('message', function(msg){
        console.log('got')
        appended = false;
        <% if controller_name == 'conversations' and action_name == 'show' %>
          if(<%= @conversation.id %> == msg.conversation){
            d.append(msg.message).scrollTop(d.prop("scrollHeight"));
            appended = true;
          }
        <% end %>
        if((msg.sender_user != <%= current_user.id %>) && !appended){
          notifyMe()
        }
      });
    </script>
  <% end %>
  </body>
</html>
